<div class="cmip5-details">
    <!--div class="{{self.layer.variable}}-icon details-icon"></div-->
    <div class="short-form {{self.layer.variable}}-icon">
        <p><span>{{self.layer.tt.details[0]}}</span></p>
        <p class="data-value">{{ self.layer.value }}{{self.layer.tt.measurementUnit[self.layer.variable]}}</p>
        <p><span>{{self.layer.tt.details[1]}}</span></p>
        <p class="supporting-value">{{self.layer.tt.timeSlider[self.layer.timeSlice]}}</p>
        <p><span>{{self.layer.tt.details[2]}}</span></p>
        <p class="supporting-value">{{ self.layer.latlong[1].toFixed(6) }}, {{ self.layer.latlong[0].toFixed(6) }}</p>
    </div>
    <md-divider class="mrgn-bttm-md"></md-divider>
    <div class="long-form">
        <p class="details-row"><span class="details-label">{{self.layer.tt.timePeriod.label}}:</span><span class="details-value">{{self.layer.tt.timePeriod[self.layer.timePeriod]}}</span></p>
        <p class="details-row"><span class="details-label">{{self.layer.tt.variable.label}}:</span><span class="details-value">{{self.layer.tt.variable[self.layer.variable]}}</span></p>
        <p class="details-row"><span class="details-label">{{self.layer.tt.rcp.label}}:</span><span class="details-value">{{self.layer.tt.rcp[self.layer.rcp]}}</span></p>
    </div>
    <md-divider class="mrgn-bttm-md mrgn-tp-md"></md-divider>
    <div class="long-form">
        <p>{{self.layer.tt.baseline}}</p>
        <a href='{{ self.layer.tt.learnMore.link }}' target=_blank>{{ self.layer.tt.learnMore.default }}</a>
    </div>
</div>

<style>
    .cmip5-details {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    .cmip5-details md-divider {
        border-top-style: dotted;
    }

    .cmip5-details .data-value {
        color: #335075;
        font-size: 3em;
        font-weight: bold;
        line-height: 1em;
    }

    .cmip5-details .supporting-value {
        color: #335075;
        font-weight: bold;
    }

    .cmip5-details .short-form {
        text-align: center;
        padding: 10px;
        background-color: rgb(250, 250, 250);
        font-size: 1.3em;
        line-height: 1.2em;
    }

    .cmip5-details .short-form p span {
        border-bottom: 2px rgb(233,233,233) solid;
    }

    .cmip5-details .long-form {
        padding: 0px 16px;
    }

    .cmip5-details .details-row {
        display: flex;
        font-size: 1.2em;
    }

    .cmip5-details .details-label {
        flex: 1;
    }

    .cmip5-details .details-value {
        font-weight: bold;
    }
</style>