<div class="ltce-details">

    <h4 class="h5 mrgn-tp-sm mrgn-bttm-sm">{{ self.layer.properties.VIRTUAL_STATION_NAME_E }}, {{ self.layer.properties.RECORD_BEGIN }}{{ self.layer.tt.time_separator }}{{ self.layer.properties.RECORD_END }}</h4>
    <span class="sub-title mrgn-tp-sm mrgn-bttm-md">{{ self.layer.tt.station_name }}</span>

    <md-divider class="mrgn-bttm-md"></md-divider>

    <dl>
        <dt>
            <span>{{ self.layer.tt.last_updated }}</span>
        </dt>
        <dd>{{ self.layer.properties.LAST_UPDATED }}</dd>

        <dt>
            <span>{{ self.layer.tt.date }}</span>
        </dt>
        <dd>{{ self.layer.tt.months[self.layer.properties.LOCAL_MONTH - 1]}} {{ self.layer.properties.LOCAL_DAY }}</dd>
        
        <dt>
            <span>{{ self.layer.tt.record_type }}</span>
        </dt>
        <dd>{{ self.layer.tt.record_types[self.layer.properties.variable] }}</dd>
        
        <dt>
            <span>{{ self.layer.tt.first_value }}</span>
        </dt>
        <dd>{{ self.layer.properties.FIRST_VALUE }}{{ self.layer.tt.units[self.layer.properties.variable] }} ({{ self.layer.properties.FIRST_YEAR }})</dd>

        <dt>
            <span>{{ self.layer.tt.second_value }}</span>
        </dt>
        <dd>{{ self.layer.properties.SECOND_VALUE }}{{ self.layer.tt.units[self.layer.properties.variable] }} ({{ self.layer.properties.SECOND_YEAR }})</dd>
        
        <dt>
            <span>{{ self.layer.tt.third_value }}</span>
        </dt>
        <dd>{{ self.layer.properties.THIRD_VALUE }}{{ self.layer.tt.units[self.layer.properties.variable] }} ({{ self.layer.properties.THIRD_YEAR }})</dd>
        
        <dt>
            <span>{{ self.layer.tt.fourth_value }}</span>
        </dt>
        <dd>{{ self.layer.properties.FOURTH_VALUE }}{{ self.layer.tt.units[self.layer.properties.variable] }} ({{ self.layer.properties.FOURTH_YEAR }})</dd>
        
        <dt>
            <span>{{ self.layer.tt.fifth_value }}</span>
        </dt>
        <dd>{{ self.layer.properties.FIFTH_VALUE }}{{ self.layer.tt.units[self.layer.properties.variable] }} ({{ self.layer.properties.FIFTH_YEAR }})</dd>
    </dl>
</div>

<style>
    .ltce-details .sub-title {
        display: block;
    }

    .ltce-details md-divider {
        border-top-style: dotted;
    }

    .ltce-details dl dt {
        font-weight: normal;
    }

    .ltce-details dl dd {
        font-weight: bold;
    }

    .ltce-details dl dt span {
        display: block;
    }
</style>