<div class="cmip5-details">

    <h4 class="h5 mrgn-tp-sm mrgn-bttm-sm">{{ self.layer.properties.STATION_NAME }}</h4>
    <span class="sub-title mrgn-tp-sm mrgn-bttm-md">{{ self.layer.tt.station_name }}</span>

    <md-divider class="mrgn-bttm-md"></md-divider>

    <dl>
        <dt>
            <span>{{ self.layer.tt.stn_id }}</span>
        </dt>
        <dd>{{ self.layer.properties.STN_ID }}</dd>

        <dt>
            <span>{{ self.layer.tt.climate_identifier }}</span>
        </dt>
        <dd>{{ self.layer.properties.CLIMATE_IDENTIFIER }}</dd>

        <dt>
            <span>{{ self.layer.tt.tc_identifier }}</span>
        </dt>
        <dd>{{ self.layer.properties.TC_IDENTIFIER || '-' }}</dd>

        <dt>
            <span>{{ self.layer.tt.wmo_identifier }}</span>
        </dt>
        <dd>{{ self.layer.properties.WMO_IDENTIFIER || '-' }}</dd>

        <dt>
            <span>{{ self.layer.tt.station_operator }}</span>
        </dt>
        <dd ng-if="self.lang === 'en-CA'">{{ self.layer.properties.ENG_STN_OPERATOR_NAME || '-' }}</dd>
        <dd ng-if="self.lang === 'fr-CA'">{{ self.layer.properties.FRE_STN_OPERATOR_NAME || '-' }}</dd>

        <dt>
            <span>{{ self.layer.tt.province }}</span>
        </dt>
        <dd ng-if="self.lang === 'en-CA'">{{ self.layer.properties.ENG_PROV_NAME }}</dd>
        <dd ng-if="self.lang === 'fr-CA'">{{ self.layer.properties.FRE_PROV_NAME }}</dd>

        <dt>
            <span>{{ self.layer.tt.timezone }}</span>
        </dt>
        <dd>{{ self.layer.properties.TIMEZONE }}</dd>

        <dt>
            <span>{{ self.layer.tt.longitude }}</span>
        </dt>
        <dd>{{ self.layer.properties.LONGITUDE }}</dd>

        <dt>
            <span>{{ self.layer.tt.latitude }}</span>
        </dt>
        <dd>{{ self.layer.properties.LATITUDE }}</dd>

        <dt>
            <span>{{ self.layer.tt.elevation }}</span>
        </dt>
        <dd>{{ self.layer.properties.ELEVATION }}</dd>

        <dt>
            <span>{{ self.layer.tt.station_type }}</span>
        </dt>
        <dd>{{ self.layer.properties.STATION_TYPE }}</dd>
    </dl>
</div>

<style>
    .cmip5-details .sub-title {
        display: block;
    }

    .cmip5-details md-divider {
        border-top-style: dotted;
    }

    .cmip5-details dl dt {
        font-weight: normal;
    }

    .cmip5-details dl dd {
        font-weight: bold;
    }

    .cmip5-details dl dt span {
        display: block;
    }
</style>