<div class="cmip5-details">

    <h4 class="h5 mrgn-tp-sm mrgn-bttm-sm">{{ self.layer.properties.STN_ID }}</h4>
    <span class="sub-title mrgn-tp-sm mrgn-bttm-md">{{ self.layer.tt.stationId }}</span>

    <md-divider class="mrgn-bttm-md"></md-divider>

    <dl>
        <dt>
            <span>{{ self.layer.tt.timePeriod }}</span>
        </dt>
        <dd>{{ self.layer.properties.FIRST_YEAR_NORMAL_PERIOD }} - {{ self.layer.properties.LAST_YEAR_NORMAL_PERIOD }}</dd>

        <dt>
            <span>{{ self.layer.tt.measurementType }}</span>
        </dt>
        <dd ng-if="self.lang === 'en-CA'">{{ self.layer.properties.ENG_PUB_NAME }}</dd>
        <dd ng-if="self.lang === 'fr-CA'">{{ self.layer.properties.FRE_PUB_NAME }}</dd>

        <dt>
            <span>{{ self.layer.tt.climateValue }}</span>
        </dt>
        <dd>{{ self.layer.properties.VALUE }}
        </dd>
    </dl>

</div>

<style>
    .cmip5-details .sub-title {
        display: block;
    }

    .cmip5-details md-divider {
        border-top-style: dotted;
    }

    .cmip5-details dl dt {
        font-weight: normal;
    }

    .cmip5-details dl dd {
        font-weight: bold;
    }

    .cmip5-details dl dt span {
        display: block;
    }
</style>