.cdv-details,.cmip5-details,.dcs-details {
    .mrgn-tp-sm {
        margin-top: 5px !important;
    }
    .mrgn-tp-md {
        margin-top: 15px !important;
    }
    .mrgn-bttm-sm {
        margin-bottom: 5px !important;
    }
    .mrgn-bttm-md {
        margin-bottom: 15px !important;
    }

    .h5 {
        font-weight: 700 !important;
        font-size: 1em !important;
        line-height: 1.1em !important;
    }

    .divider {
        border-top-style: dotted;
        width: 100%;
        display: block;
        border-top-width: 1px;
        border-top-color: rgba(0, 0, 0, .12);
    }
}

.cdv-details {
    .sub-title {
        display: block;
    }

    dl dt {
        font-weight: normal;

        span {
            display: block;
        }
    }

    dl dd {
        font-weight: bold;
    }
}

.dcs-details {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.dcs-details .data-value {
    color: #335075;
    font-size: 3em;
    font-weight: bold;
    line-height: 1em;
}

.dcs-details .supporting-value {
    color: #335075;
    font-weight: bold;
}

.dcs-details .short-form {
    text-align: center;
    padding: 10px;
    background-color: rgb(250, 250, 250);
    font-size: 1.3em;
}

.dcs-details .short-form p span {
    border-bottom: 2px rgb(233,233,233) solid;
}

.dcs-details .long-form {
    padding: 0px 16px;
}

.dcs-details .details-row {
    display: flex;
    font-size: 1.2em;
}

.dcs-details .details-label {
    flex: 1;
}

.dcs-details .details-value {
    font-weight: bold;
}

.cmip5-details {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.cmip5-details .data-value {
    color: #335075;
    font-size: 3em;
    font-weight: bold;
    line-height: 1em;
}

.cmip5-details .supporting-value {
    color: #335075;
    font-weight: bold;
}

.cmip5-details .short-form {
    text-align: center;
    padding: 10px;
    background-color: rgb(250, 250, 250);
    font-size: 1.3em;
}

.cmip5-details .short-form p span {
    border-bottom: 2px rgb(233,233,233) solid;
}

.cmip5-details .long-form {
    padding: 0px 16px;
}

.cmip5-details .details-row {
    display: flex;
    font-size: 1.2em;
}

.cmip5-details .details-label {
    flex: 1;
}

.cmip5-details .details-value {
    font-weight: bold;
}