// $top-navigation-height: 5rem;
$page-header-height: 15rem;
$view-controls-height: 5rem;

$backdrop-map-height: 80vh;

// TODO: different screen sizes have different widths so all the derived values below need to adjust
// aslo, for small screens the app bar should take all width anyway, so no need to change anything I think;
$container-width: 1170px;

// the height of fineprint container (1rem + 4px)
$rv-bottom-offset: calc(1rem + 4px);

$wet-primary-colour: #335075;
$border-colour-one: #545353;
$border-colour-two: lighten($border-colour-one, 20%);

$wet-secondary-text-colour: #767676;
