@import './variables.scss';

.cip-view-controls {
    height: $view-controls-height;
    // width: 100%;
    display: flex;
    align-items: center;

    padding: 0 1rem;
    // background-color: lightgray;

    .separator {
        flex: 1;
    }

    .menu-option {
        margin: 0 1rem;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        > svg {
            margin: auto;
        }
    }

    .b-dropdown {
        /deep/ .dropdown-toggle {
            display: flex;
            align-items: center;

            border: none;
            height: 5rem;
            padding: 0 1.2rem 0 1.5rem;
            background-color: transparent;

            &:hover,
            &:focus {
                // font-weight: bold;
                background-color: #e2e6ea;
            }

            &::after {
                margin-left: 2.3rem;
            }
        }

        .dropdown-item {
            // &:hover,
            // &:focus,
            &.cip-selected {
                background-color: #243850;
                color: white;
            }
        }

        .dropdown-divider {
            border-right: 1px solid #e9ecef;
            height: auto;
            margin: 0.5rem;
        }

        .cip-content-wrap {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cip-value-label {
            font-size: 0.8em;
            line-height: 1.3em;
        }

        .cip-selected-value {
            font-size: 0.9em;
            font-weight: bold;
            line-height: 1.3em;
        }

        .cip-dropdown-multi-item {
            display: flex;
            align-items: center;
            padding: 0 1.5em;

            span {
                flex: 1 0 auto;
                white-space: nowrap;
                margin-right: 4rem;
            }

            &-options {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                align-items: center;
                width: 14rem;

                .dropdown-item {
                    width: calc(50% - 1rem);
                    border: 1px solid #ccc;
                    font-size: 0.9em;
                    color: #444;
                    padding-left: 0;
                    padding-right: 0;
                    text-align: center;

                    width: auto;

                    &:first-child:nth-last-child(1) {
                        width: 100%;
                        // margin: 0;
                    }

                    margin: 0.5rem;
                    width: calc(50% - 1rem);

                    &.cip-selected,
                    &:active {
                        color: #fff;
                    }

                    // if you need to specify custom width based on the number of elements, it can be done this way
                    /* &:first-child:nth-last-child(2),
                    &:first-child:nth-last-child(2) ~ .dropdown-item {
                        width: 50%;
                    } */
                }
            }
        }

        .cip-dropdown-info {
        }

        .cip-dropdown-description {
            padding: 0.25rem * 1.6 1.5rem * 1.6;
            font-size: 0.8em;
        }
    }
}
