@import './variables.scss';

.cip-view-controls {
    height: $view-controls-height;
    // width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
    padding-left: 0;
    // background-color: lightgray;

    .separator {
        flex: 1;
    }

    .menu-option {
        margin: 0 1rem;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        > svg {
            margin: auto;
        }
    }

    .b-dropdown {
        /deep/ .dropdown-toggle {
            border: none;
            height: 4.8rem;
            padding: 0 1.2rem 0 1.5rem;
            background-color: transparent;

            &:hover,
            &:focus {
                // font-weight: bold;
                background-color: #e2e6ea;
            }
        }

        .dropdown-item-mutli {
            display: flex;
            align-items: center;
            padding: 0.25rem 1.5rem;

            span {
                flex: 1 0 auto;
                white-space: nowrap;
                margin-right: 4rem;
            }

            &-options {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                align-items: center;
                width: 14rem;

                .dropdown-item {
                    background-color: #ccc;
                    color: #444;

                    text-align: center;

                    width: auto;

                    &:first-child:nth-last-child(1) {
                        width: 100%;
                        // margin: 0;
                    }

                    margin: 0.5rem;
                    width: calc(50% - 1rem);

                    &:hover,
                    &:focus,
                    &.cip-selected {
                        background-color: #243850;
                        color: white;
                    }

                    // if you need to specify custom width based on the number of elements, it can be done this way
                    /* &:first-child:nth-last-child(2),
                    &:first-child:nth-last-child(2) ~ .dropdown-item {
                        width: 50%;
                    } */
                }
            }
        }
    }
}
