<div class="cmip5-details">

    <dl>
        <dt>
            <span>{{ self.layer.tt.province }}</span>
        </dt>
        <dd>{{ self.layer.properties.province }}</dd>

        <dt>
            <span>{{ self.layer.tt.timePeriod.title }}</span>
        </dt>
        <dd>{{ self.layer.tt.timePeriod[self.layer.properties.period] }}</dd>

        <dt>
            <span>{{ self.layer.tt.trendValue }}</span>
        </dt>
        <dd ng-if="self.layer.properties.trend_value">{{ self.layer.properties.trend_prefix }}{{ self.layer.properties.trend_value }} {{ self.layer.tt.measurementUnit[self.layer.properties.measurement_type]
            }}
        </dd>
        <dd ng-if="!self.layer.properties.trend_value">{{ self.layer.tt.no_trend }}</dd>
    </dl>

    <md-divider class="mrgn-bttm-md"></md-divider>

    <dl>
        <dt>
            <span>{{ self.layer.tt.elevation }}</span>
        </dt>
        <dd>{{ self.layer.properties.elevation }}</dd>

        <dt>
            <span>{{ self.layer.tt.stationId }}</span>
        </dt>
        <dd>{{ self.layer.properties.station_id }}</dd>
    </dl>

    <a href=#>{{ self.layer.tt.learnMore.default }} {{ self.layer.tt.learnMore[self.layer.properties.variable] }}</a>

</div>

<style>
    .cmip5-details .sub-title {
        display: block;
    }

    .cmip5-details md-divider {
        border-top-style: dotted;
    }

    .cmip5-details dl dt {
        font-weight: normal;
    }

    .cmip5-details dl dd {
        font-weight: bold;
    }

    .cmip5-details dl dt span {
        display: block;
    }
</style>