<div class="cmip5-details">

    <h4 class="h5 mrgn-tp-sm mrgn-bttm-sm">{{ self.layer.properties.station_id }}</h4>
    <span class="sub-title mrgn-tp-sm mrgn-bttm-md">{{ self.layer.tt.stationId }}</span>

    <md-divider class="mrgn-bttm-md"></md-divider>

    <dl>
        <dt>
            <span>{{ self.layer.tt.timePeriod.title }}</span>
        </dt>
        <dd>{{ self.layer.tt.timePeriod[self.layer.properties.period] }}</dd>

        <dt>
            <span>{{ self.layer.tt.measurementType.title }}</span>
        </dt>
        <dd>{{ self.layer.tt.measurementType[self.layer.properties.measurement_type] }}</dd>

        <dt>
            <span>{{ self.layer.tt.trendValue }}</span>
        </dt>
        <dd ng-if="self.layer.properties.trend_value">{{ self.layer.properties.trend_value.toFixed(3) }} {{ self.layer.tt.measurementUnit[self.layer.properties.measurement_type]
            }}
        </dd>
        <dd ng-else>{{ self.layer.tt.no_trend }}</dd>
    </dl>

</div>

<style>
    .cmip5-details .sub-title {
        display: block;
    }

    .cmip5-details md-divider {
        border-top-style: dotted;
    }

    .cmip5-details dl dt {
        font-weight: normal;
    }

    .cmip5-details dl dd {
        font-weight: bold;
    }

    .cmip5-details dl dt span {
        display: block;
    }
</style>